.size-logo {
    height: 150px;
    width: 150px;
}

.size-img {
    height: 100%;
    width: 100%;
}

.size-networks {
    height: 55px;
    width: 55px;
}

.size-wp {
    height: 170px;
    width: 170px;
}

.size-carousel {
    width: 55% !important;
    height: 55% !important;
}