@media screen and (max-width: 480px) {
    #grid-general {
        grid-template-columns: 100%;
    }

    .size-logo {
        height: 95px;
        width: 95px;
    }

    .txt-title {
        font-size: 80px;
    }

    .font-title {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    }

    .txt-subtitle {
        font-size: 20px;
    }

    .txt-general {
        font-size: 17px;
    }

    .txt-general2 {
        font-size: 21px;
    }

    .position-logo {
        top: 1.5rem;
        left: 0.8rem;
    }

    .position-title {
        position: relative;
        right: 1.4rem;
        top: 0.7rem;
    }

    .position-subtitle {
        position: relative;
        right: 0;
        bottom: 0.8rem;
    }

    .size-carousel {
        width: 95% !important;
        height: 95% !important;
    }

    .size-mapa {
        height: 95%;
        width: 95%;
    }
}