@media screen and (max-width: 720px){
    .flex-row {
        flex-wrap: wrap;
    }

    .size-logo {
        height: 120px;
        width: 120px;
    }

    .size-mapa {
        height: 90%;
        width: 90%;
    }

    .size-carousel{
        width: 80% !important;
        height: 80% !important;
    }

    .position-logo{
        top: 2rem;
        left: 2rem;
    }

    .txt-title{
        font-size: 110px;
    }
    
    .txt-subtitle{
        font-size: 32px;
    }

    .txt-general{
        font-size: 25px;
    }

    .txt-general2{
        font-size: 30px;
    }

    .position-title{
        position: relative;
        right: 3.5rem;
        top: 0.5rem;
    }
    
    .position-subtitle{
        position: relative;
        right: 0.8rem;
        bottom: 1.7rem;
    }
}