@keyframes index {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pages {
    from {
        transform: translateY(-15%);
    }

    to {
        transform: translateY(0);
    }
}

.animation-index {
    animation: index 1s ease-in-out;
    opacity: 1;
    background-color: rgb(29, 29, 29);
}

.animation-pages {
    animation: pages 1s ease-in-out;
    transform: translateY(0);
}