.position-logo{
    position: relative;
    top: 2.5rem;
    left: 3rem;
}

.position-title{
    position: relative;
    right: 3.5rem;
    top: 0.5rem;
}

.position-subtitle{
    position: relative;
    right: 0.8rem;
    bottom: 1.7rem;
}